// Base colors
@color_white:       #ffffff;
@color_darkwhite:   #e0e0e0;
@color_lightgray:   #b1b1b1;
@color_gray:        #888888;
@color_darkgray:    #606060;
@color_lightblack:  #303030;
@color_black:       #000000;

// Accent colors
@color_whiteorange: #ffe0d9;
@color_lightorange: #eb8c76;
@color_orange:      #ca2b03;
@color_purple:      #6c0dc5;
@color_red:         #ad1313;
@color_green:       #6ad142;
@color_skyblue:     #6cbae7;
@color_blue:        #3427D9;
@color_pink:        #c51e85;
